@model List<MyKursPortfolio.Models.Skill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeteneklerim Listesi</h2>
<table class="table table-bordered">

    <tr>
        <th>Yetenek ID</th>
        <th>Yetenek Adı</th>
        <th>Yetenek Sil</th>
        <th>Yetenek Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.SkillID</td>
            <td>@item.Title</td>
            <td><a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Skill/AddSkill" class="btn btn-primary">Yeni Yetenek Girişi</a>


